extends ../layout/base 
block content 
	section.content-header 
		h1 
			| Soal
			small it all starts here
		ol.breadcrumb 
			li 
				a(href='#') 
					i.fa.fa-dashboard
					| Level 
			li.active Here 
	section.content
		.box
			.box-header.with-border
				h3.box-title
					| Soal Quizzz
				.box-tools.pull-right
					button(type='button', data-widget='collapse', data-toggle='tooltip',title='collapse').btn.btn-box-tool
						i.fa.fa-minus
					
			.box-body
				form(role='form',method='post' action='/soal/add')
					.row
						
						.col-xs-6
							.box-body
								- if (messages.msg_error) 
									.alert.alert-danger.alert-dismissable 
										button.close(type='button', data-dismiss='alert', aria-hidden='true') 
											| ×
										h4
											i.icon.fa.fa-ban
											| Alert! 
										| !{messages.msg_error}
								.form-group
									label
										| id_soal
									input(type='text',value='#{id_soal}',name='id_soal',placeholder='Masukkan id_soal', autofocus).form-control
								.form-group
									label
										| soal
									input(type='text',value='#{soal}',name='soal',placeholder='Masukkan soal', autofocus).form-control
								.form-group
									label
										| optiona
									input(type='text',value='#{optiona}',name='optiona',placeholder='Masukkan optiona').form-control
								.form-group
									label
										| optionb
									input(type='text',value='#{optionb}',name='optionb',placeholder='Masukkan optionb').form-control
								.form-group
									label
										| optionc
									input(type='text',value='#{optionc}',name='optionc',placeholder='Masukkan optionc').form-control
								.form-group
									label
										| optiond
									input(type='text',value='#{optiond}',name='optiond',placeholder='Masukkan optiond').form-control
								.form-group
									label
										| answer
									input(type='text',value='#{answer}',name='answer',placeholder='Masukkan answer').form-control
							.box-footer
								button(type='submit').btn.btn-primary
									| Submit
								a(href='/soal').btn.btn-primary.pull-right
									| Back