extends ../layout/base 
block content 
	section.content-header 
		h1 
			| Edit Supplier
			small menu for editing supplier data
		ol.breadcrumb 
			li 
				a(href='#') 
					i.fa.fa-dashboard
					| Level 
			li.active Here 
	section.content
		.box
			.box-header.with-border
				h3.box-title
					| Supplier
				.box-tools.pull-right
					button(type='button', data-widget='collapse', data-toggle='tooltip',title='collapse').btn.btn-box-tool
						i.fa.fa-minus
					
			.box-body
				form(role='form',method='post' action='/quiz/edit/#{(id_quiz==undefined) ? data.id_quiz : id_quiz}')
					.row
						
						.col-xs-6
							.box-body
								- if (messages.msg_error) 
									.alert.alert-danger.alert-dismissable 
										button.close(type='button', data-dismiss='alert', aria-hidden='true') 
											| ×
										h4
											i.icon.fa.fa-ban
											| Alert! 
										| !{messages.msg_error}
								- if (messages.msg_info) 
									.alert.alert-success.alert-dismissable 
										button.close(type='button', data-dismiss='alert', aria-hidden='true') 
											| ×
										h4
											i.icon.fa.fa-ban
											| Success! 
										| !{messages.msg_info}
								.form-group
									label
										| Id Quiz
									input(type='text',value="#{data.id_quiz}",name='id_quiz',placeholder='Masukkan id_quiz', autofocus).form-control
								.form-group
									label
										| Quiz
									input(type='text',value="#{ (quiz == undefined) ? data.quiz : quiz }",name='quiz',placeholder='Masukkan quiz').form-control
								.form-group
									label
										| A
									input(type='text',value="#{ (a == undefined) ? data.a : a }",name='a',placeholder='Masukkan jawaban a').form-control
								.form-group
									label
										| B
									input(type='text',value="#{ (b == undefined) ? data.b : b }",name='b',placeholder='Masukkan jawaban b').form-control
								.form-group
										| C
									input(type='text',value="#{ (c == undefined) ? data.c : c }",name='c',placeholder='Masukkan jawaban c').form-control
								.form-group
										| D
									input(type='text',value="#{ (d == undefined) ? data.d : d }",name='d',placeholder='Masukkan jawaban d').form-control
								.form-group
									label
										| Answer
									input(type='text',value="#{ (answer == undefined) ? data.answer : answer }",name='answer',placeholder='answer').form-control
							.box-footer
								input(type="hidden",name="_method", value="PUT")
								button(type='submit').btn.btn-primary
									i.fa.fa-pencil 
									|  Edit
								a(href='/quiz').btn.btn-primary.pull-right
									| Back