extends ../layout/base 
block content 
	section.content-header 
		h1 
			| Uji Pengetahuan
			small
		ol.breadcrumb 
			li 
				a(href='#') 
					i.fa.fa-dashboard
					| soal
			li.active Here 
	section.content
		.box
			.box-header.with-border
				h3.box-title
					| soal
				.box-tools.pull-right
					button(type='button', data-widget='collapse', data-toggle='tooltip',title='collapse').btn.btn-box-tool
						i.fa.fa-minus
			.box-body
				- if(messages.msg_info)
					.alert.alert-success.alert-dismissable
						button.close(type='button', data-dismiss='alert', aria-hidden='true')
							| ×
						h4
							i.icon.fa.fa-check
							| Success!
						| !{messages.msg_info}
				- if(messages.msg_error)
					.alert.alert-danger.alert-dismissable
						button.close(type='button', data-dismiss='alert', aria-hidden='true')
							| ×
						h4
							i.icon.fa.fa-ban
							| Alert!
						| !{messages.msg_error}
				a(href='quiz/add').pull-left.btn.btn-primary
					i.fa.fa-plus 
					|  Add quiz
				.data-table
					table.table.table-bordered
						tr
							th
								| id_quiz
							th
								| quiz
							th
								| a
							th
								| b
							th
								| c
							th
								| d
							th
								| answer
							th
								| Action
							if messages.msg_error
								| !{messages.msg_error}
							else
								for row, index in data 
									tr
										td #{row.id_quiz}
										td #{row.quiz}
										td #{row.a}
										td #{row.b}
										td #{row.c}
										td #{row.d}
										td #{row.answer}
										td
											div(style='display:inline-block')
												a(href='/quiz/edit/#{row.id_quiz}').btn.btn-sm.btn-primary
														i.fa.fa-edit
											| 
											div(style='display:inline-block')
												form(method='post', action='/quiz/delete/#{row.id_quiz}')
													input(type="hidden",name="_method", value="DELETE")
													button.btn.btn-sm.btn-danger(type='submit')
														i.fa.fa-remove